/* Стилизация аккордеона */

.accordion__item {
    max-width: 730px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 24px 49px 0 32px;
}
.accordion__main{
    position: relative;
}
.accordion__svg{
    position: absolute;
    top:32px;
    left: 770px;
    width: 16px;
    height: 8px;
}
.accordion__main:last-child{
    margin-bottom: 0px;
}
.accordion__title {
    display: block;
    font-family: 'inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    margin-bottom: 24px;
    
}

.accordion__title::-webkit-details-marker{
    display: none;
}
.accordion__text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}