@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.histogram__row {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    width: 354px;
    margin: 0 auto;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
}
.container {
    width: 300px;
    margin: 0 auto;
}


.histogram__top {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}
.histogram__statistics {
}
.histogram__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #212429;
    opacity: 0.8;
}
.histogram__numbers {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #212429;
    padding-top: 6px;
    padding-bottom: 39px;
}
.histogram__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #4263EB;
}

/* colums */
.histogram__bot {
    display: flex;
    height: 50px;
    align-content: flex-end;
    padding-bottom: 24px;
    
}

.histogram__colums {
    align-self: flex-end;
    width: 100%;
    height: 100%;
    background-color: #4263EB;
    margin-right: 1px;
    
}
.histogram__colums:last-child {
    margin-right: 0px;
}