.histogram__row {
    display: flex;
    flex-direction: column;
    /* max-width: 300px; */
    /* margin: 0 auto; */
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 0 24px;
    margin: 80px 25px 0;
}
.histogram__top {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}
.histogram__statistics {
}
.histogram__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
}
.histogram__number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
    padding-top: 6px;
    padding-bottom: 39px;
}
.histogram__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: var(--primary);
}

/* colums */
.histogram__bot {
    display: flex;
    height: 50px;
    padding-bottom: 24px;
}
.histogram__colum {
    align-self: flex-end;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    margin-right: 1px;
}
.histogram__colums:last-child {
    margin-right: 0px;
}