.preview {
    width: 100%;
    background: var(--background);
}
.preview__row {
    display: flex;
    flex: 0 1 33,3%;
    gap: 30px;
    flex-wrap: wrap;
    padding: 67px 0 204px 0;
    /* align-content: flex-end; */
}
.preview__card {
    display: flex;
    flex-direction: column;
    /* flex: 0 1 auto; */
    justify-content: space-between;
    min-width: 350px;
    min-height: 367px;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    background: var(--white);
    /* margin-top: 67px; */

}
.preview__main {
    /* padding: 0px 25px ; */

}
.preview__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: var(--black);
    padding-bottom: 30px;
}