.preview {
    background: var(--background);
}
.preview__row {
    display: flex;
    flex: 0 1 33,3%;
    gap: 30px;
    flex-wrap: wrap;
    padding: 67px 0 204px 0;
}
@media (max-width:400px) {
    .preview__row{
        flex: 0 1 50%;
        gap: 16px;
        padding: 21px 0 100px 0;
    }
    
}
.preview__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 350px;
    min-height: 367px;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    background: var(--white);
}
@media (max-width:400px) {
    .preview__card{
        min-width: 164px;
        min-height: 210px;
        border-radius: 8px;
    }
    
}
.preview__main {
}
.preview__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: var(--black);
    padding-bottom: 30px;
}

@media (max-width:400px) {
    .preview__title{
        font-size: 14px;
        padding-bottom: 10px;
    }
}